[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell audiocd
Icon=cdaudio_unmount
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=audiocd

Name=Audio CDs
Name[x-test]=xxAudio CDsxx
Comment=Audiocd IO Slave Configuration
Comment[x-test]=xxAudiocd IO Slave Configurationxx
Keywords=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate
Keywords[x-test]=xxAudio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitratexx

Categories=Qt;KDE;X-KDE-settings-sound;
