[Desktop Entry]
Exec=kcmshell4 audiocd
Icon=media-optical-audio
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_audiocd
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=audio-and-video

Name=Audio CDs
Name[ca]=CD d'àudio
Name[cs]=Zvuková CD
Name[da]=Lyd-cd'er
Name[de]=Audio-CDs
Name[el]=CD ήχου
Name[es]=CD de audio
Name[et]=Heliplaadid
Name[fi]=Ääni-CD:t
Name[fr]=CD audio
Name[ga]=Dlúthdhioscaí Fuaime
Name[gl]=CDs de audio
Name[hu]=Hang CD-k
Name[it]=CD Audio
Name[kk]=Аудио CD-лер
Name[km]=ស៊ីឌី​អូឌីយ៉ូ
Name[nb]=Lyd-CD-er
Name[nds]=Klang-CDs
Name[nl]=Audio-cd's
Name[nn]=Lyd-CD-ar
Name[pa]=ਆਡੀਓ CD
Name[pl]=Płyty z muzyką
Name[pt]=CDs de Áudio
Name[pt_BR]=CDs de áudio
Name[ru]=Audio CD
Name[se]=Jietna-CD:at
Name[sk]=Zvukové CD
Name[sl]=Glasbeni CD-ji
Name[sr]=Аудио ЦД‑ови
Name[sr@ijekavian]=Аудио ЦД‑ови
Name[sr@ijekavianlatin]=Audio CD‑ovi
Name[sr@latin]=Audio CD‑ovi
Name[sv]=Ljud-cd
Name[tr]=Ses CD'leri
Name[uk]=Аудіо-КД
Name[x-test]=xxAudio CDsxx
Name[zh_CN]=音频 CD
Name[zh_TW]=音樂光碟
Comment=Audiocd IO Slave Configuration
Comment[ca]=Configuració de l'esclau d'E/S pels CD àudio
Comment[cs]=Nastavení IO klienta pro zvuková CD
Comment[da]=Indstilling af IO-slave til lyd-cd'er
Comment[de]=Einrichtung des Ein-/Ausgabemoduls für Audio-CDs
Comment[el]=Διαμόρφωση Audiocd IO Slave
Comment[es]=Configuración del esclavo de E/S audiocd
Comment[et]=Heliplaadi KIO-mooduli seadistused
Comment[fi]=Ääni-CD-siirräntätyöskentelijän asetukset
Comment[fr]=Configuration du module pour CD audio
Comment[ga]=Cumraíocht Sclábhaí I/A Audiocd
Comment[gl]=Configuración do escravo IO de audiocd
Comment[hu]=Hang CD I/O-szolgáltatás beállítása
Comment[it]=Configurazione dell'IO Slave per i CD Audio
Comment[kk]=AudioCD IO Slave баптауы
Comment[km]=ការកំណត់​រចនាសម្ព័ន្ធ Audiocd IO Slave
Comment[nb]=Oppsett av lyd-CD IO-slave
Comment[nds]=Instellen för dat In-/Utgaavmoduul för Klang-CDs
Comment[nl]=AudioCD IO slave instellen
Comment[nn]=Oppsett av IU-slave for lyd-CD
Comment[pl]=Konfiguracja procedury we/wy dla płyt z muzyką
Comment[pt]=Configuração do IO Slave de CDs-Áudio
Comment[pt_BR]=Configuração do audiocd IO Slave
Comment[ru]=Настройка протокола AudioCD
Comment[se]=Heivet SO-šláva jietna-CD:aid várás
Comment[sk]=Nastavenie IO klienta pre zvukové CD
Comment[sl]=Nastavitve v/i komponente audiocd
Comment[sr]=Подешавање У/И захвата за аудио ЦД‑ове
Comment[sr@ijekavian]=Подешавање У/И захвата за аудио ЦД‑ове
Comment[sr@ijekavianlatin]=Podešavanje U/I zahvata za audio CD‑ove
Comment[sr@latin]=Podešavanje U/I zahvata za audio CD‑ove
Comment[sv]=Anpassa I/O-slav för ljud-cd
Comment[tr]=Müzik CD'si Yapılandırması
Comment[uk]=Налаштування підлеглого В/В «Audiocd»
Comment[x-test]=xxAudiocd IO Slave Configurationxx
Comment[zh_CN]=音频 CD IO 后端配置
Comment[zh_TW]=音樂光碟 IO Slave 組態
Keywords=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate
Keywords[ca]=Àudio CD,CD,Ogg,Vorbis,Codificació,CDDA,Taxa de bits
Keywords[cs]=Zvukové CD,CD,Ogg,Vorbis,Kódování,CDDA,Bitrate,CDDB
Keywords[da]=Lyd-cd,CD,Ogg,Vorbis,Indkodning,CDDA,Bitrate
Keywords[de]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate,MP3
Keywords[el]=CD ήχου,CD,Ogg,Vorbis,κωδικοποίηση,CDDA,ρυθμός bit
Keywords[es]=CD de audio,CD,Ogg,Vorbis,Codificación,CDDA,Tasa de bits
Keywords[et]=audio,heli,heliplaat,CD,Ogg,Vorbis,kodeering,CDDA,bitikiirus
Keywords[fi]=Ääni-CD,CD,Ogg,Vorbis,Koodaus,CDDA,Bittinopeus
Keywords[fr]=CD audio,CD,Ogg,Vorbis,Encodage,CDDA,débit
Keywords[ga]=Dlúthdhiosca Fuaime,Dlúthdhiosca,Ogg,Vorbis,Ionchódú,CDDA,Ráta Giotán
Keywords[gl]=Audio CD,CD,Ogg,Vorbis,Codificación,CDDA,Taxa de Bits
Keywords[hu]=Hang CD,CD,Ogg,Vorbis,Kódolás,CDDA,Bitráta
Keywords[it]=CD Audio,CD,Ogg,Vorbis,Codifica,CDDA,Bitrate
Keywords[kk]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate
Keywords[km]=ស៊ីឌី​អូឌីយ៉ូ ស៊ីឌី Ogg,Vorbis,Encoding,CDDA,Bitrate
Keywords[nb]=Audio CD,CD,Ogg,Vorbis,Koding,CDDA,Bitrate
Keywords[nds]=Audio-CD,Klang-CD,CD,Ogg,Vorbis,Koderen,CDDA,Bitrate
Keywords[nl]=Audio-cd,cd,Ogg,Vorbis,Encoding,CDDA,Bitrate
Keywords[nn]=lyd-CD,CD,Ogg,Vorbis,koding,CDDA,bitrate
Keywords[pl]=Płyta z muzyką,Audio CD,CD,Ogg,Vorbis,Szybkość transmisji,CDDA,Bitrate, Kodowanie
Keywords[pt]=CD Áudio,CD,Ogg,Vorbis,Codificação,CDDA,Taxa
Keywords[pt_BR]=CD de áudio,CD,Ogg,Vorbis,Codificação,CDDA,Taxa de bits
Keywords[ru]=Audio CD,CD,Ogg,Vorbis,Кодирование,CDDA,битрейт
Keywords[sk]=zvukové CD,CD,Ogg,Vorbis,kódovanie,CDDA,dátový tok
Keywords[sl]=Avdio CD,CD,Ogg,Vorbis,kodiranje,CDDA,bitna hitrost,glasbeni CD
Keywords[sr]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate,аудио ЦД,кодирање,проток,битски проток,ЦД,ОГГ,Ворбис,ЦДДА
Keywords[sr@ijekavian]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate,аудио ЦД,кодирање,проток,битски проток,ЦД,ОГГ,Ворбис,ЦДДА
Keywords[sr@ijekavianlatin]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate,audio CD,kodiranje,protok,bitski protok,CD,OGG,Vorbis,CDDA
Keywords[sr@latin]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate,audio CD,kodiranje,protok,bitski protok,CD,OGG,Vorbis,CDDA
Keywords[sv]=ljud-cd,cd,Ogg,Vorbis,kodning,CDDA,bithastighet
Keywords[tr]=Ses CDsi,CD,Ogg,Vorbis,Kodlama,CDDA,Bitrate
Keywords[uk]=Аудіо-КД,КД,Ogg,Vorbis,кодування,CDDA,частота вибірки
Keywords[x-test]=xxAudio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitratexx
Keywords[zh_CN]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate,音频 CD,编码,比特率
Keywords[zh_TW]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate

Categories=Qt;KDE;X-KDE-settings-sound;
