[Desktop Entry]
Exec=kcmshell4 audiocd
Icon=media-optical-audio
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_audiocd
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=audio-and-video

Name=Audio CDs
Name[cs]=Zvuková CD
Name[de]=Audio-CDs
Name[el]=CD ήχου
Name[ga]=Dlúthdhioscaí Fuaime
Name[gl]=CDs de audio
Name[nb]=Lyd-CD-er
Name[nds]=Klang-CDs
Name[nl]=Audio-cd's
Name[nn]=Lyd-CD-ar
Name[pl]=Płyty z muzyką
Name[pt]=CDs de Áudio
Name[pt_BR]=CDs de áudio
Name[se]=Jietna-CD:at
Name[sk]=Zvukové CD
Name[sv]=Ljud-cd
Name[uk]=Аудіо-КД
Name[x-test]=xxAudio CDsxx
Name[zh_CN]=音频 CD
Name[zh_TW]=音樂光碟
Comment=Audiocd IO Slave Configuration
Comment[cs]=Nastavení IO klienta pro zvuková CD
Comment[de]=Einrichtung des Ein-/Ausgabemoduls für Audio-CDs
Comment[el]=Διαμόρφωση Audiocd IO Slave
Comment[ga]=Cumraíocht Sclábhaí I/A Audiocd
Comment[gl]=Configuración do escravo IO de audiocd
Comment[nb]=Oppsett av lyd-CD IO-slave
Comment[nds]=Instellen för dat In-/Utgaavmoduul för Klang-CDs
Comment[nl]=AudioCD IO slave instellen
Comment[nn]=Oppsett av IU-slave for lyd-CD
Comment[pl]=Konfiguracja procedury we/wy dla płyt z muzyką
Comment[pt]=Configuração do IO Slave de CDs-Áudio
Comment[pt_BR]=Configuração do audiocd IO Slave
Comment[se]=Heivet SO-šláva jietna-CD:aid várás
Comment[sk]=Nastavenie IO klienta pre zvukové CD
Comment[sv]=Anpassa I/O-slav för ljud-cd
Comment[uk]=Налаштування підлеглого В/В «Audiocd»
Comment[x-test]=xxAudiocd IO Slave Configurationxx
Comment[zh_CN]=音频 CD IO 后端配置
Comment[zh_TW]=音樂光碟 IO Slave 組態
Keywords=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate
Keywords[cs]=Zvukové CD,CD,Ogg,Vorbis,Kódování,CDDA,Bitrate,CDDB
Keywords[de]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate,MP3
Keywords[el]=CD ήχου,CD,Ogg,Vorbis,κωδικοποίηση,CDDA,ρυθμός bit
Keywords[ga]=Dlúthdhiosca Fuaime,Dlúthdhiosca,Ogg,Vorbis,Ionchódú,CDDA,Ráta Giotán
Keywords[gl]=Audio CD,CD,Ogg,Vorbis,Codificación,CDDA,Taxa de Bits
Keywords[nb]=Audio CD,CD,Ogg,Vorbis,Koding,CDDA,Bitrate
Keywords[nds]=Audio-CD,Klang-CD,CD,Ogg,Vorbis,Koderen,CDDA,Bitrate
Keywords[nl]=Audio-cd,cd,Ogg,Vorbis,Encoding,CDDA,Bitrate
Keywords[nn]=lyd-CD,CD,Ogg,Vorbis,koding,CDDA,bitrate
Keywords[pl]=Płyta z muzyką,Audio CD,CD,Ogg,Vorbis,Szybkość transmisji,CDDA,Bitrate, Kodowanie
Keywords[pt]=CD Áudio,CD,Ogg,Vorbis,Codificação,CDDA,Taxa
Keywords[pt_BR]=CD de áudio,CD,Ogg,Vorbis,Codificação,CDDA,Taxa de bits
Keywords[sk]=zvukové CD,CD,Ogg,Vorbis,kódovanie,CDDA,dátový tok
Keywords[sv]=ljud-cd,cd,Ogg,Vorbis,kodning,CDDA,bithastighet
Keywords[uk]=Аудіо-КД,КД,Ogg,Vorbis,кодування,CDDA,частота вибірки
Keywords[x-test]=xxAudio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitratexx
Keywords[zh_CN]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate,音频 CD,编码,比特率
Keywords[zh_TW]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate

Categories=Qt;KDE;X-KDE-settings-sound;
