[Desktop Entry]
Type=Link
URL=audiocd:/
Icon=media-optical-audio
Name=Audio CD Browser
Name[bg]=Преглед на звукови дискове
Name[bs]=Pregledač Audio CDova
Name[ca]=Navegador de CD d'àudio
Name[cs]=Prohlížeč zvukových CD
Name[da]=Lyd-cd-browser
Name[de]=Audio-CDs ansehen
Name[el]=Περιηγητής CD ήχου
Name[es]=Navegador de CD de audio
Name[et]=Heliplaadi sirvija
Name[fi]=Ääni-CD-selain
Name[fr]=Navigateur de CD audio
Name[ga]=Brabhsálaí Dlúthdhioscaí Fuaime
Name[gl]=Navegador de Audio CD
Name[hu]=Hang CD böngésző
Name[ia]=Navigator de Audio CD
Name[it]=Browser di CD Audio
Name[kk]=Аудио CD шолғышы
Name[km]=កម្មវិធី​រុករក​ស៊ីឌី​អូឌីយ៉ូ​
Name[ko]=오디오 CD 탐색기
Name[lt]=Audio CD naršyklė
Name[mr]=ऑडिओ CD ब्राऊजर
Name[nb]=Bla gjennom lyd-CD
Name[nds]=Klang-CD-Kieker
Name[nl]=Audio-cd-browser
Name[nn]=Bla gjennom lyd-CD
Name[pa]=ਆਡੀਓ CD ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka płyt z muzyką 
Name[pt]=Navegador de CDs de Áudio
Name[pt_BR]=Navegador de CDs de áudio
Name[ro]=Navigator pentru discuri audio
Name[ru]=Просмотр Audio CD
Name[sk]=Prehliadač zvukových CD
Name[sl]=Brskalnik po glasbenih CD-jih
Name[sr]=Прегледач аудио ЦД‑ова
Name[sr@ijekavian]=Прегледач аудио ЦД‑ова
Name[sr@ijekavianlatin]=Pregledač audio CD‑ova
Name[sr@latin]=Pregledač audio CD‑ova
Name[sv]=Bläddra ljud-cd
Name[tr]=Ses CD'si Tarayıcı
Name[uk]=Навігатор аудіо-КД
Name[x-test]=xxAudio CD Browserxx
Name[zh_CN]=音频 CD 浏览器
Name[zh_TW]=音樂光碟瀏覽器
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
