[Desktop Entry]
Type=Link
URL=audiocd:/
Icon=media-optical-audio
Name=Audio CD Browser
Name[ca]=Navegador de CD d'àudio
Name[da]=Lyd-cd-browser
Name[de]=Audio-CDs ansehen
Name[el]=Περιηγητής CD μουσικής
Name[et]=Heliplaadi sirvija
Name[ga]=Brabhsálaí Dlúthdhioscaí Fuaime
Name[gl]=Navegador de Audio CD
Name[ja]=オーディオ CD ブラウザ
Name[km]=កម្មវិធី​រុករក​ស៊ីឌី​អូឌីយ៉ូ
Name[ko]=오디오 CD 탐색기
Name[lv]=Audio CD pārlūks
Name[nds]=Klang-CD-Kieker
Name[pt]=Navegador de CDs de Áudio
Name[pt_BR]=Navegador de CDs de Áudio
Name[sv]=Bläddra ljud-cd
Name[th]=เรียกดูซีดีเสียง
Name[tr]=Ses CDsi Tarayıcı
Name[uk]=Навігатор аудіо КД
Name[x-test]=xxAudio CD Browserxx
Name[zh_CN]=音频 CD 浏览器
Name[zh_TW]=音樂光碟瀏覽器
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
