[Desktop Entry]
Type=Link
URL=audiocd:/
Icon=media-optical-audio
Name=Audio CD Browser
Name[el]=Περιηγητής CD μουσικής
Name[ga]=Brabhsálaí Dlúthdhiosca Fuaime
Name[zh_TW]=音樂光碟瀏覽器
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
