[Desktop Entry]
X-KDE-Solid-Predicate=[StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Audio']
Actions=open;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action open]
Exec=kioclient exec audiocd:/
Icon=system-file-manager
Name=Open with File Manager
Name[bg]=Отваряне с файловия браузър
Name[de]=Mit Dateimanager öffnen
Name[en_GB]=Open with File Manager
Name[es]=Abrir con el gestor de archivos
Name[et]=Ava failihalduriga
Name[is]=Opna með skráastjóra
Name[ko]=파일 관리자로 열기
Name[nb]=Åpne med filbehandler
Name[nds]=Mit Dateipleger opmaken
Name[pt]=Abrir com o Gestor de Ficheiros
Name[pt_BR]=Abrir com o gerenciador de arquivos
Name[sv]=Öppna med filhanterare
Name[tr]=Dosya Yöneticisi ile Aç
Name[uk]=Відкрити за допомогою менеджера файлів
Name[x-test]=xxOpen with File Managerxx
Name[zh_TW]=使用檔案管理員開啟
